<html>
<head></head>
<body>
Bookings Page
<h1>
<form class="register" action="/booking" method="post">
     <input type="text" name="space_id" placeholder="space number">
     <input type="text" name="user_id" placeholder="User number">
     <input type="text" name="date" placeholder="date">
     <input type="submit" value="Confirm">
    </form>
</h1>
</body>
</html>