<html>
<head>
    <link rel="stylesheet" href="style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav-bar">
         <a class="logo-link" href="/"><div class="left-nav">Maker BnB</div></a>
        <div class="right-nav">
            <form action="/logout" method="post"><button type="submit" value="submit" class="button-4">Log out</button></form>
            <a href="/viewspaces" method="get"><button type="submit" value="submit" class="button-4">View Spaces</a>
            <a href="/search" method="get"><button type="submit" value="submit" class="button-4">Search Spaces</a>
         </div>

</div>

<div class="index-hero">This Page is under construction</div>

<div class="index-hero">Use this other website that we definitely created</div>

<div class="index-hero"> https://www.airbnb.co.uk/</div>



</body>
</html>