<html>
<head></head>
<body>
<h1>
<form class="register" action="/delete_bookings" method="post">
     <input type="text" name="space_id" placeholder="space id">
     <input type="submit" value="Delete">
    </form>
</h1>
</body>
</html>