<html>
<head></head>
<body>
List your space
<h1>
<form action="/spaces" method="post">
    <input type="text" name="name" placeholder="space name">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="price_per_night" placeholder="PPN">
    <input type="submit" value="List space">
</form>
</h1>
</body>
</html>
