<html>
<head>
    <link rel="stylesheet" href="style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav-bar">
         <a class="logo-link" href="/"><div class="left-nav">Maker BnB</div></a>
        <div class="right-nav">
            <form action="/logout" method="post"><button type="submit" value="submit" class="button-4">Log out</button></form>
            <a href="/viewspaces" method="get"><button type="submit" value="submit" class="button-4">View Spaces</a>
            <a href="/search" method="get"><button type="submit" value="submit" class="button-4">Search Spaces</a>
         </div>

</div>
<div class="index-hero">List your space in seconds!</div>
<h1>
<form action="/spaces" method="post">
    <input type="text" name="name" placeholder="space name">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="price_per_night" placeholder="PPN">
    <input type="text" name="date_from" placeholder="2023-01-01">
    <input type="text" name="date_to" placeholder="2023-01-04">
    <input type="submit" value="List space">
</form>
</h1>
</body>
</html>
