<html>
<head>
    <link rel="stylesheet" href="style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav-bar">
         <a class="logo-link" href="/"><div class="left-nav">Maker BnB</div></a>
        <div class="right-nav">
           <a href="/login"><button type="button" class="button-4">Log in</button></a>
           <a href="/"><button type="button" class="button-4">Sign up</button></a>
         </div>
    </div>

    <div class="index-hero">The credentials you have entered were incorrect, please try again</div>
</body>
</html>