<html>
<head></head>
<body>
Login Page
<h1>
<form action="/login" method="post">
     <input type="text" name="user_name" placeholder="username">
     <input type="password" name="password" placeholder="password">
     <input type="submit" value="Log in">
    </form>
</h1>
</body>
</html>
