<html>
<head></head>
<body>
Search Page
<h1>
<form action="/search" method="post">
     <input type="text" name="date_from" placeholder="Date from">
     <input type="text" name="date_to" placeholder="Date to">
     <input type="submit" value="Search">
    </form>
</h1>
</body>
</html>
