<html>
<head></head>
<body>

Signup Page
<h1>
<form class="register" action="/signup" method="post">
     <input type="text" name="user_name" placeholder="username">
     <input type="text" name="email" placeholder="email">
     <input type="password" name="password" placeholder="password">
     <input type="submit" value="Signup">
    </form>
</h1>
</body>
</html>
