<html>
<head></head>
<body>
<h1>Spaces</h1>
    <h3><%= @space.name %></h3>
    <p><%= @space.description %></p>
    <p><%= @space.date_from %></p>
    <p> <%= @space.date_to %></p><br>
    <a href="/viewspaces" method="get">Go back to see all spaces</a>

</body>
</html>