<html>
<head></head>
<body>
<h1>Spaces</h1>
<% @space.each do |space| %>
    <p><%= space.name %>
        <%= space.description %>
        <%= space.date_from %>
        <%= space.date_to %></p>
<% end %>
</body>
</html>